
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(146, 146, 255) 50%,white 100%);
}
h1{
    text-align: center;
    position: relative;
    top: 20%;
}
h2{
    text-align: center;
    position: relative;
    top: 20%;
}
#increment-btn{
    position: relative;
    top: 25%;
    left: 49%;
}
#save-btn{
    position: relative;
    
    top: 35%;
    left: 46%;
}
.abc{
    position: relative;
    top: 50%;
    left: 47%;
}
#xyz{
    position: relative;
    top: 50%;
    left: 47%;
}